@import 'lib/bourbon/bourbon';
@import 'lib/reset';

$color-brand: #7AEFCA;

body {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #DDD;
  line-height: 20px;
  font-size: 16px;
  min-height: 505px;
  background-color: #e9e9e9;
}

body:before {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border-left: 12px solid $color-brand;
  z-index: 99;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 500px;
  margin: 84px 96px 84px 96px;
  position: relative;
  z-index: 99;
  clear: both;
  overflow: hidden;
}

h1, h2 {
  color: #DDD;
  text-align: left;
  font-size: 32px;
  line-height: 32px;
}
h2, h3 {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #888;
  margin: 2px 0 48px 0;
}
h3 {
  margin: 24px 0 24px 0;
  padding: 0;
  border: 0;
}

p, li {
  line-height: 24px;
  font-size: 16px;
  color: #DDD;
  margin: 0 0 24px 0;
}
p:last-child {
  margin: 0;
}
li {
  margin: 0;
  background: url(../img/li.png) no-repeat;
  padding: 0 0 0 18px;
}
a {
  color: #DDD;
  text-decoration: none;
  color: $color-brand;
}
a:hover {
  text-decoration: underline;
}

.column {
  float: left;
  width: 50%;
  min-width: 190px;
  max-width: 100%;
}

@media only screen and (max-width : 571px) {
  body:before {
    position: absolute;
    border-left: none;
    border-top: 12px solid $color-brand;
  }
  li:first-child {
    border-top: 1px solid rgba(#333,0.95);
  }
  li {
    border-bottom: 1px solid rgba(#333,0.95);
    background-position: 12px 6px;
    padding: 0 0 0 30px;
  }
  li a {
    padding: 6px 0 5px 0;
    display: block;
  }
  .column {
    width: 100%;
  }
}

@media only screen and (max-width : 480px) {
  body:before {
    position: absolute;
    border-left: none;
    border-top: 12px solid $color-brand;
  }
  h1, h2, h3 {
    text-align: center;
  }
  .wrapper {
    margin: 84px 36px 84px 36px;
  }
}
